---
title: Articles | Ozy Wu-Li - Interactive Designer and Developer
page: Articles
pageable: true
per_page: 10
---


<div class="title-row row">
  <h1 class="page-title"><%= current_page.data.page %></h1>
  <p>My writings over the years</p>
</div>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h2 class="article-title"><%= link_to article.title, article %></h2>
  <span class="article-date"><%= article.date.strftime('%d %b %Y') %></span> 
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
