---
title: Contact | Ozy Wu-Li - Interactive Designer and Developer
page: Contact
---

<div class="title-row row">
  <h1 class="page-title"><%= current_page.data.page %></h1>

  <p>Based in Los Angeles. Would you like to collaborate on a project? Send me a message and I'll respond within 24 hours. Or if you just want to say hello, that's fine too.</p>

</div>


<div class="row">

  <h2 class="row__title">Say hello</h2>

  <ul class="contact-info">

    <li class="contact-info__item">
      <a href="https://twitter.com/ozy_wuli" class="contact-info__link">
        <span class="contact-info__icon"><%= partial "partials/twitter" %></span>
        <span class="contact-info__type">Twitter</span>
        <span class="contact-info__name">ozy.wu.li@gmail.com</span>
      </a>
    </li>

    <li class="contact-info__item">
      <a href="mailto:ozy.wu.li@gmail.com" class="contact-info__link">
        <span class="contact-info__icon"><%= partial "partials/email" %></span>
        <span class="contact-info__type">Email</span>
        <span class="contact-info__name">@ozy_wuli</span>
      </a>
    </li>

  </ul>
</div>




<div class="row">


  <h2 class="row__title">Web Presence</h2>


  <ul class="contact-info">

    <li class="contact-info__item">
      <a href="https://github.com/ozywuli" class="contact-info__link">
        <span class="contact-info__icon"><%= partial "partials/github" %></span>
        <span class="contact-info__type">Github</span>
        <span class="contact-info__name">ozywuli</span>
      </a>
    </li>

    <li class="contact-info__item">
      <a href="" class="contact-info__link">
        <span class="contact-info__icon"><%= partial "partials/tumblr" %></span>
        <span class="contact-info__type">Tumblr</span>
        <span class="contact-info__name">ozywoolee</span>
      </a>
    </li>

  </ul>


</div>